<div class="container-fluied homecontainer">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="row description">
                    <h1 class="heading">
                        We’re here to <br />
                        Increase your <br />
                        <span class="highlight">Productivity</span>
                    </h1>
                    <div class="line "></div>
                    <p class="description">
                        We are a forward-thinking design studio, tailored to the needs of the new generation.
                        Our focus is on delivering innovative design solutions.
                    </p>
                    <button class="btn consult-btn mt-4 col-lg-8 col-md-8 col-sm-8">
                        Get a free consultation Today
                        <i class="bi bi-telephone-fill ms-2"></i>
                    </button>
                    <img src="SVG/banner/Sec-1-light-lime-curve-arrow.svg.svg" class="img-fluid curlImg" alt="">


                </div>

            </div>
            <div class="col-md-6 col-sm-12 imgcontainer">
                <div class="row">
                    <img src="Images/Hero Img.png" class="img-fluid" alt="Looding......">
                </div>


            </div>
        </div>
    </div>


</div>
<app-about></app-about>
<app-commonly-asked-questions></app-commonly-asked-questions>
<app-feedback></app-feedback>
<app-blogs></app-blogs>