<div class="container-fluied Questionspara">
    <div class="container">
        <div class="row">
             <p class="testcontent">
                Frequently Asked Questions?<span class="asterisk">*</span>
            </p>
            <div class="col-md-6 col-sm-12">
                <div class="row imgRow">
                    <img src="SVG/Section 5/Star.svg"class="img3" alt="">
                    <img src="Images/img-2-BKIPDfMO.jpg.png" class="img-fluid img1" alt="">
                    <img src="Images/img-3-D9WM4-oN.jpg.png"class="img-fluid img2" alt="">
                    <img src="SVG/Section 5/Arrow.svg"class="img4" alt="">

                </div>

            </div>
            <div class="col-md-6 col-sm-12 textRow">
                <div class="row textContent">
                     <div class="headtxt">
                    <h1>how can Degital marketing Benifit my Busines?</h1>
                    <p>it can incrise brand visibility,drive website trafic,generate leads,and ultimetly boost sales and
                        revenue</p>
                </div>
                <div class="text">
                    <p>Do i nedd to have Large Budget for Marketing?</p>

                </div>
                <div class="text">
                    <p>unique and infinital design?</p>

                </div>
                <div class="text">
                    <p>the power of inflorar marketing?</p>

                </div>

                </div>
                
            </div>
        </div>
    </div>
</div>

