<div class="container-fluied aboutpage">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="row textpara">
                    <img src="SVG/Section 3/scribble final version-107.svg" class="img1" alt="">
                    <img src="SVG/Section 3/scribble 2.svg" class="img2" alt="">
                   
                    <img src="SVG/Section 3/scribble final version-77.svg" class="img3" alt="">
                    
                    <p class="fw-bold headingtxt ">
                    About Benefits <br />
                    <span class="subline">get from CMS <span class="asterisk">*</span></span>
                </p>
                <ul class="checklist ps-0">
                <li>
                    <span class="check-icon">✔</span>
                    Expert Brand Consultation to Maximize Impact
                </li>
                <li>
                    <span class="check-icon">✔</span>
                    Build a Strong Online Brand Presence
                </li>
                <li>
                    <span class="check-icon">✔</span>
                    Monthly Brand Performance Reports
                </li>
                <li>
                    <span class="check-icon">✔</span>
                    Future-Proof Your Brand Strategy
                </li>
                <li>
                    <span class="check-icon">✔</span>
                    Seamless Brand Transactions and Collaborations
                </li>
            </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                 <div class="row imgRow">
                    <img src="SVG/Section 3/scribble final version-139.svg" class="img1" alt="">
                <img src="Images/About us Image.png" class="img-fluid" alt="">
                 </div>
            </div>
        </div>
    </div>
</div>