footer {
    background-color: #191e26 !important;
    color: white;

    .row {
        padding-top: 50px;
    }

    .Copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }

    .contact-btn {
        width: 100%;
        background-color: #c0fb4e;
        color: #000;
        padding: 12px 20px;
        font-size: 12px;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 50px;
        font-weight: 600;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        box-shadow: 0 4px 0 #ffffff;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .icon-circle {
        background-color: #1b1c1e;
        color: #fff;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-control {
        background-color: unset;
        border: 1px solid white;
        border-radius: 30px;
        outline: unset;
        caret-color: white;
        color: white;
    }

    .form-control:focus {
        box-shadow: none;
    }

    .form-control::placeholder {
        color: white;
        opacity: .5;
    }


    .query {
        border-radius: 5px !important;
        height: 150px;
    }

    h1 {
        font-size: 3.5rem;
    }

    .contact-section {
        border-radius: 12px;
        position: relative;
        max-width: 600px;
        margin: auto;
        color: #e6e6e6;
        text-align: left;


    }

    .highlight-star {
        color: #99ff00;
        font-weight: bold;
    }

    .text-green {
        color: #99ff00;
    }

    .social-icons i {
        font-size: 1.2rem;
        transition: color 0.3s ease;
    }

    .social-icons i:hover {
        color: #99ff00;
    }

    .line-decor {
        position: absolute;
        bottom: -30px;
        right: 0;
        max-width: 160px;
    }

    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
        border-radius: 50%;
        color: #fff;
        transition: all 0.3s ease;
        text-decoration: none;
        font-size: 1.1rem;
    }

    .social-icon:hover {
        background-color: #99ff00;
        border-color: #99ff00;
        color: #0d1117;
    }
}